<div> 
    <div class="box-main">
        <div class="artist">
            <div class="image">
                <img src="{{ artist.images[2].url }}" alt="">
            </div>
            <div class="info">
                <h2>{{ artist.name }}</h2>
                <a href="{{ path('spotify.lanzamientos') }}">Regresar</a>
            </div>
        </div>
        <div class="albums">
            <table class="table">
                <tr>
                    <th>FOTO</th>
                    <th>ALBUM</th>
                    <th>CANCIÓN</th>
                </tr>
                {% for track in tracks.tracks %}
                <tr>
                    <td>
                        <img src="{{ track.album.images[2].url }}" alt="">
                    </td>
                    <td>{{ track.album.name }}</td>
                    <td>{{ track.name }}</td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
</div>